[submodule "third_party/tau2-bench"]
	path = third_party/tau2-bench
	url = https://github.com/sierra-research/tau2-bench.git
[submodule "third_party/ART"]
	path = third_party/ART
	url = https://github.com/OpenPipe/ART.git
